@import "remedy";

:root {
  --primary: #009f85;
  --text-light: #a9a9a9;
  --text-dark: #5c5c5c;
  --border-color: #e1e1e1;
  --black: #271f30;
}
html {
  height: 100%;
  font-size: 62.5%;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 1.6rem;
  background-color: var(--primary);
}

.card {
  width: 60rem;
  height: 45rem;
  margin: 10rem auto;
  padding: 5rem;
  background: #fff url(../assets/img/bicycle.png) 2em 19rem no-repeat;
  background-size: calc(100% - 5rem);
  border-radius: 4px;
  box-shadow: 0 3rem 6rem rgba(125, 125, 125, 0.375),
    0 1rem 2rem rgba(0, 0, 0, 0.25);
}

.card__header > div,
.card__listing {
  display: flex;
  justify-content: space-between;
}

.card__header {
  color: var(--black);

  .center {
    align-items: center;
  }
  &__heading {
    font-size: 2.4rem;
    margin: 0;
  }

  &__account {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    border: 1px solid var(--border-color);
    display: flex;
    justify-content: center;
    align-items: center;
    &__icon {
      width: 3rem;
      path {
        fill: currentColor;
      }
    }
  }
  &__message {
    color: var(--text-light);
    font-size: 1.5rem;
    margin-top: 1rem;
  }
}

.card__listing {
  align-items: center;
  color: var(--text-dark);
  font-weight: 500;
  font-size: 1.8rem;
  &__price {
    font-size: 2.2rem;
    color: var(--black);
  }

  &__text {
    padding: 1rem 0;
    text-transform: capitalize;
    &--total {
      font-weight: bold;
      font-size: 2rem;
      text-transform: uppercase;
    }
  }
}
