@import "normalize";
@import url("https://use.typekit.net/gtc1mvz.css");
:root {
  --black: #1a1e1d;
  --primary: #ff0844;
}

html {
  font-size: 62.5%;
}

html,
body {
  width: 100%;
}

body {
  font-family: "alverata", cursive;
  font-size: 1.6rem;
  background: var(--black);
  color: var(--primary);
}

.heading {
  position: fixed;
  margin-top: 9rem;
  margin-left: 23rem;
  font-size: 6.3em;
}

.text-prompt {
  .txt {
    border-right: 0.3rem solid var(--primary);
    animation: blinkTextCursor 800ms steps(40) infinite normal;
  }
}

@keyframes blinkTextCursor {
  from {
    border-right-color: var(--primary);
  }
  to {
    border-right-color: transparent;
  }
}
