@import "normalize";
@import url("https://use.typekit.net/gtc1mvz.css");

$background: #2b2f39;

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background: $background;
}

.box {
  cursor: crosshair;
  height: 30rem;
  width: 30rem;
  background: #fff;
  border-radius: 3px;
  transform-origin: center;

  &:active {
    background: darken(#fff, 8);
  }
}

.dropzone {
  height: 100vh;
  width: 100vw;
}
