@import "remedy";
:root {
  --background: #82b9f9;
  --primary: #6497f8;
  --border-color: #dedede;
}
html {
  font-size: 62.5%;
}

body {
  background-color: var(--background);
  font-family: Roboto, sans-serif;
  font-size: 1.6rem;
}
